@keyframes rainbow {
    0%   { background-color: #ff0000; color: #00ccff; }
    16%  { background-color: #ff9900; color: #6600ff; }
    33%  { background-color: #ffff00; color: #ff0000; }
    50%  { background-color: #33ff00; color: #ff9900; }
    66%  { background-color: #00ccff; color: #ffff00; }
    83%  { background-color: #6600ff; color: #33ff00; }
    100% { background-color: #ff0000; color: #00ccff; }
}

@keyframes auth-anim {
    0% {
        outline: 6px solid transparent;
    }
    50% {
        outline: 6px solid #fcb700;
    }
    100% {
        outline: 6px solid transparent;
    }
}

@keyframes alert-anim {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, -200%);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -200%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 3px solid;
    border-radius: 50%;
    display: grid;
    background: radial-gradient(circle 3px, currentColor 95%, #0000),
        linear-gradient(currentColor 50%, #0000 0) 50%/2px 60% no-repeat;
}
.loader:before,
.loader:after {
    content: '';
    grid-area: 1/1;
}
.loader:before {
    background: repeating-conic-gradient(
        from -2deg,
        #000 0 4deg,
        #0000 0 90deg
    );
    mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 6px),
        #000 0
    );
}
.loader:after {
    background: linear-gradient(currentColor 50%, #0000 0) 50%/2px 80% no-repeat;
    animation: l7 0.5s infinite ease;
}

@keyframes l7 {
    0%,
    100% {
        transform: rotate(30deg);
    }
    90% {
        transform: rotate(42deg);
    }
    95% {
        transform: rotate(15deg);
    }
}

@import 'tailwindcss';
@plugin "daisyui" {
    themes: bumblebee --default, halloween;
}

@plugin "daisyui/theme" {
    name: 'bumblebee';
    default: true;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(85% 0.199 91.936);
    --color-primary-content: oklch(42% 0.095 57.708);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(40% 0.123 38.172);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(92% 0.003 48.717);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(39% 0.09 240.876);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(44% 0.177 26.899);
    --color-error-content: oklch(98% 0 0);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: 'halloween';
    default: false;
    color-scheme: 'dark';
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(0% 0 0);
    --color-base-content: oklch(84.955% 0 0);
    --color-primary: oklch(82% 0.189 84.429);
    --color-primary-content: oklch(19.693% 0.004 196.779);
    --color-secondary: oklch(27% 0.077 45.635);
    --color-secondary-content: oklch(89.196% 0.049 305.03);
    --color-accent: oklch(64.8% 0.223 136.073);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(70% 0 0);
    --color-neutral-content: oklch(14% 0 0);
    --color-info: oklch(54.615% 0.215 262.88);
    --color-info-content: oklch(90.923% 0.043 262.88);
    --color-success: oklch(62.705% 0.169 149.213);
    --color-success-content: oklch(12.541% 0.033 149.213);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(13.316% 0.031 58.318);
    --color-error: oklch(50% 0.213 27.518);
    --color-error-content: oklch(98% 0 0);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
